<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/site.css">
        <script src="main.js"></script>
    </head>
    <body>
        <h1>Fast Worldwide Shipping at Your Fingertips!</h1>
         <p>Volume: @Model[4]</p>
         <p>Weight: @Model[3]</p>  
         <p>Cost To Ship: @Model[5]</p> 
    </body>
</html>
