<link rel="stylesheet" type="text/css" media="screen" href="~/css/site.css">

<h1>Welcome to the Parcel Shipper!</h1>
<a href='/parcels/new'>Add a new parcel</a>
<a href='/parcels'>See list of your shipments</a>